############################# PARKING ##################################
# Park front center###
[gcode_macro PARKFRONT]
description: Park front center
gcode:
    CG28                             ; home if not already homed
    SAVE_GCODE_STATE NAME=PARKFRONT
    RESPOND PREFIX= MSG="Parking to Front"
    G90                               ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} Z{printer.toolhead.axis_maximum.z/2} F6000        
    RESTORE_GCODE_STATE NAME=PARKFRONT

    # Park front center, but low down.
[gcode_macro PARKFRONTLOW]
description: Park front center, but low down
gcode:
    CG28                            ; home if not already homed
    SAVE_GCODE_STATE NAME=PARKFRONT
    RESPOND PREFIX= MSG="Parking to Front Low"
    G90                              ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} Z20 F6000                                     
    RESTORE_GCODE_STATE NAME=PARKFRONT

[gcode_macro PARKFRONTHIGH]
description: Park front center
gcode:
    CG28                                                                                                                        ; home if not already homed
    SAVE_GCODE_STATE NAME=PARKFRONTHIGH
    RESPOND PREFIX= MSG="Parking to Front 50mm up"
    G90                                                                                                                         ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_minimum.y+5} Z{printer.toolhead.axis_maximum.z-20} F6000                                       ; park front center, 50mm up
    RESTORE_GCODE_STATE NAME=PARKFRONTHIGH

 # Park top rear left
[gcode_macro PARKREAR]
description: Park top rear left
gcode:
    CG28                            ; home if not already homed
    SAVE_GCODE_STATE NAME=PARKREAR
     RESPOND PREFIX= MSG="Parking to top rear left"
    G90                              ; absolute positioning
    G0 X{printer.toolhead.axis_minimum.x+10} Y{printer.toolhead.axis_maximum.y-30} Z{printer.toolhead.axis_maximum.z-50} F6000     
    RESTORE_GCODE_STATE NAME=PARKREAR

    # Park at center of build volume
[gcode_macro PARKCENTER]
description: Park center of build volume
gcode:
    CG28                             ; home if not already homed
    SAVE_GCODE_STATE NAME=PARKCENTER
    RESPOND PREFIX= MSG="Parking to Center"
    G90                               ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z{printer.toolhead.axis_maximum.z/2} F6000    
    RESTORE_GCODE_STATE NAME=PARKCENTER

    # Park 15mm above center of bed
[gcode_macro PARKBED]
description: Park 15mm above center of bed
gcode:
    CG28                              ; home if not already homed
    SAVE_GCODE_STATE NAME=PARKBED
    RESPOND PREFIX= MSG="Parking to Bed"
    G90                                ; absolute positioning
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z15 F6000                                     
    RESTORE_GCODE_STATE NAME=PARKBED  
     
############################# LUBRICATE ##################################
[gcode_macro lubricate_y]
description: move y back and forth
gcode:
  SAVE_GCODE_STATE NAME=STATE_LUBRICATE
  CG28
  G90
  {% for move in range(25) %}
    G0 Y0 F50000
    G0 Y220 F50000
  {% endfor %}
  RESTORE_GCODE_STATE NAME=STATE_LUBRICATE
  RESPOND PREFIX= MSG="Y axis lubricated!"

[gcode_macro lubricate_x]
description: move x left and right
gcode:
  SAVE_GCODE_STATE NAME=STATE_LUBRICATE
  CG28
  G90
  {% for move in range(25) %}
    G0 X5 F50000
    G0 X215 F50000
  {% endfor %}
  RESTORE_GCODE_STATE NAME=STATE_LUBRICATE
  RESPOND PREFIX= MSG="X axis lubricated!"

[gcode_macro lubricate_z]
description: move z up and down
gcode:
  SAVE_GCODE_STATE NAME=STATE_LUBRICATE
  CG28
  G90
  {% for move in range(25) %}
    G0 Z15 F50000
    G0 Z200 F50000
  {% endfor %}
  RESTORE_GCODE_STATE NAME=STATE_LUBRICATE
  RESPOND PREFIX= MSG="Z axis lubricated!"

[gcode_macro lubricate]
gcode:
  SAVE_GCODE_STATE NAME=STATE_LUBRICATE
  CG28
  G90
  {% for move in range(25) %}
    G0 X5 Z15 Y0 F50000
    G0 X215 Z200 Y220 F50000
    M118 {move}
  {% endfor %}
  CENTER
  RESTORE_GCODE_STATE NAME=STATE_LUBRICATE
  RESPOND PREFIX= MSG="All axis lubricated!!" 